{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/jpg"
    href="{% static 'images/cropped_gown.jpg' %}" alt="a period costume"
  >
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <title>Southard Theatrical</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <h2>Southard Theatrical</h2>
      </a>
    </div>
    <nav>
      <ul>
        {% if user.username == 'samantha' %}
          <li><a href="{% url 'garments_index' %}">On the Rack</a></li>
          <li><a href="{% url 'garments_create' %}">Add a Garment</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% elif user.is_authenticated %}
          <li><a href="{% url 'garments_index' %}">On the Rack</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'garments_index' %}">On the Rack</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
<footer id="footer">
  <h3>Southard Theatrical | <img src="{% static 'images/twitter.png' %}" height="12px"> @southard_costumes | <img src="{% static 'images/instagram.png' %}" height="10px"> @southard.costumes | southard@costumes.sam </h3>
</footer>
<div class="background">
</div>
</html>
