{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/garment_detail.css' %}"
/>
<script defer src="{% static 'js/garment_detail.js' %}"> </script>
{% endblock %}

{% block content %}

<section class="garment-container">
  <div class="garment-img">
    {% if garment.photo.url %}
      <img 
        src="{{garment.photo.url}}" 
        alt="A photo of {{garment.type}}"
        class="usr-img"
      >
    {% else %}
      <img src="{% static 'images/empty_dressform.jpeg' %}" alt="A generic manaquin">
    {% endif %}
  </div>
  <div class="garment-details">
    <h1>{{ garment.type }}</h1>
    <h2>Rental rate:<span class="details">{{ garment.rate }}</span></h2>
    <h4>Color: <span class="details">{{ garment.color }}</span></h4>
    <h4>Period/Genre: <span class="details">{{ garment.genre }}</span></h4>
    <h4>Materials: <span class="details">{{ garment.materials }}</span></h4>
    <h4>Sizing info: <span class="details">{{ garment.sizing }}</span></h4>
    <h4>Care Instructions: <br><span class="details">{{ garment.care }}</span></h4>
    <h4>Notes: <br><span class="details">{{ garment.notes }}</span></h4>
  </div>
  </section>
  <h4 id="out_of_stock_display" hidden>Item is current out on a rental!</h4>
  <section>
    {% if user.username == 'samantha' %}
      <button type="button" id="available_button">Out of stock</button>
      <br>
      <br>
      <br>
      <div class="garment-actions">
        <a href="{% url 'garments_update' garment.id %}" class="btn warn">Edit Details</a>
        <a href="{% url 'garments_delete' garment.id %}" class="btn danger">Delete Item</a>
      </div>
      <br>
      <p id="file-name"></p>
      <form 
        action="{% url 'add_photo' garment.id %}"
        enctype="multipart/form-data"
        method="POST"
      >
        {% csrf_token %}
        <label class="btn secondary">
          Choose photo
          <input type="file" name="photo-file" id="file-input">
        </label>
        <button type="submit" class="btn submit">Upload Photo</button>
      </form>
      
    {% endif %}
</section>

{% endblock %}