{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/garment_index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>On the Rack</h1>
</section>

<section class="card-container">
  {% for garment in garments %}
    <div class="card">
      <a href='{% url "garments_detail" garment.id %}'>
        <div class="card-content">
          <div class="card-img-container">
            {% if garment.photo.url %}
              <img 
              height="200px"
              src="{{garment.photo.url}}" 
              alt="A photo of {{garment.type}}" 
              class="usr-img"
              >
            {% else %}
              <img 
              height="200px" 
              src="{% static 'images/empty_dressform.jpeg' %}" 
              alt="A generic manaquin">
            {% endif %}
          </div>
          <h2 class="card-title">{{ garment.type }}</h2>
            <p><small>{{ garment.availability }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}